<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="stderr" target="SYSTEM_ERR">
            <PatternLayout pattern="[%-5level] %c{1.}: %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="stderr"/>
        </Root>
    </Loggers>
</Configuration>
